  

    <section class="section-padding-horizontal bg-img-block contactanos" style="background-image: url({site_url}app/assets/img/contacto.png);" id="contactanos"> <!-- Contactanos -->
      <div class="container-xs text-center">
        <h2 class="section-title text-center pb-28 text-white">Contáctanos</h2>   
        <p class="text-white text-intro">A través de las redes sociales:</p>
        <ul class="grid-list grid-list-3 grid-list-1 grid-contactanos pv-35 ph-70">
          <li class="grid-list-item">
            <div class="list-item-contactanos">
              <a href="https://www.facebook.com/LidermanOficial" target="_blank"><img class="img-responsive img-circle" src="{site_url}app/assets/icons/icon-footer-facebook.png"></a>
            </div>
          </li>
          <li class="grid-list-item">
            <div class="list-item-contactanos">
              <a href="https://twitter.com/javiercalvop" target="_blank"><img class="img-responsive img-circle" src="{site_url}app/assets/icons/icon-footer-twitter.png"></a>
            </div>
          </li>
          <li class="grid-list-item">
            <div class="list-item-contactanos">
              <a href="http://www.youtube.com/LidermanOficial" target="_blank"><img class="img-responsive img-circle" src="{site_url}app/assets/icons/icon-footer-youtube.png"></a>
            </div>
          </li>
        </ul>
        <p class="text-white text-intro">o llenando éste formulario:</p>
        

        {exp:freeform:form
            form_id="2"
            form:class="ph-21"
            required="first_name|correo|tipo_de_usuario"
            return="gracias-contactanos/index"
            
        }
            {freeform:field:first_name attr:class="form-control text-center pv-21 light input-center mt-21" attr:placeholder="NOMBRE"}
            {freeform:field:correo attr:class="form-control text-center pv-21  light input-center mt-21" attr:placeholder="CORREO"}
            {freeform:field:tipo_de_usuario attr:class="text-center pv-7 uppercase light input-center mt-21" attr:placeholder="TIPO DE USUARIO"}
            {freeform:field:mensaje attr:class="form-control text-center pv-21 light input-center mt-21" attr:placeholder="ESCRIBE TU MENSAJE"}

            {freeform:submit attr:class="btn-liderman btn-liderman-white pull-right mt-35" attr:value="ENVIAR"}
        {/exp:freeform:form}
      </div>
    </section>
