<section class="pv-42 footer"> <!-- footer -->
      <div class="container-sm text-center">
        <h3 class="uppercase text-orange">Ingresa a info liderman</h3>
        <div class="row">
          <dev class="col-md-4 col-md-offset-4">
            <a href="http://mundoliderman.radiourbe.pe/login">
              <img src="{site_url}app/assets/img/mundo_liderman_logo.png" alt="mundo liderman" width="150" class="mt-21 mb-21">
            </a>
          </dev>
          
        </div>
        <div class="direction mv-14 pv-14">
          <p>Av. Guillermo Prescott 308 San Isidro - Lima 27 Perú l Central Telefónica : (511) 441-8380 l Fax : (511) 422-2455</p>
          <p>Av. Juan del Mar y Bernedo 1040 - Cercado de Lima - Lima 01 Perú | Central Telefónica: (511) 337 6610</p>
          <p>Av. Las Casuarinas Mz. D Lt. 7, Huertos de Santa Genoveva (Paradero Centro de Salud, km 40 Antigua Panamericana Sur)<br>- Lurín - 16 Perú</p>
        </div>
        <img src="{site_url}app/assets/icons/Logo-LidermanWhite-footer.png">
      </div>
    </section>
    <div class="site-content"></div>
  </div>
  <script src="{site_url}app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}app/assets/js/scripts.min.js"></script>
  <script src="{site_url}app/assets/js/classie.js"></script>
  <script src="{site_url}app/assets/js/app.js"></script>
  <script src="{site_url}app/assets/js/transformicons.js"></script>
  <script src="{site_url}app/assets/js/carousel.js"></script>
  <script src="{site_url}app/assets/js/js.js"></script>
  <script src="{site_url}app/assets/js/owl.carousel.js"></script>
  <script src="{site_url}app/assets/js/owl.carousel.min.js"></script>
  <script src="{site_url}app/assets/js/carrusel-owl.js"></script>



  <!--<script src="assets/js/jquery.multiple.select.js"></script>-->
  <script>transformicons.add('.tcon')</script>
</body>

</html>