
<header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="header-left col-md-6 col-xs-6">
              <a href="{site_url}">
                <img class="hidden-lg" src="{site_url}app/assets/img/logo-liderman-white.png">
              </a>          
            </div>
            <div class="header-right col-md-6 col-xs-6">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5"></div>
                <!-- <div class="col-md-3">
                  <a type="button" class="tcon tcon-menu--xcross" id="tcon-menu--xcross" aria-label="toggle menu">
                    <span class="text-white pr-14">MEN&#xDA;</span>
                    <span class="tcon-menu__lines" aria-hidden="true"></span>
                  </a>
                </div> -->
                <div class="col-md-3" >
                  <a type="button" class="tcon tcon-menu--xcross" id="tcon-menu--xcross" aria-label="toggle menu">
                    <span class="text-gray-light pr-14">MEN&#xDA;</span>
                    <img class="icon-menu" src="{site_url}app/assets/icons/menu-icono.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

    <header class="header-scroll hidden-xs">
       <div class="container-fluid">
          <div class="row">
            <div class="header-left col-md-6">
              <a href="{site_url}">
                <img src="{site_url}app/assets/img/logo-liderman-white.png">
              </a>
            </div>
            <div class="header-right col-md-6">
              <div class="row">
                <div class="col-md-9 pt-7">
                    <div class="col-md-6">
                      <div class="col-md-3">
                        <a href="https://www.facebook.com/LidermanOficial" target="_blank">
                          <div class="hover-redes">
                            <img class="img-redes" src="{site_url}app/assets/img/facebook-anaranjado.png">
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3">
                        <a href="https://twitter.com/javiercalvop" target="_blank">
                          <div class="hover-redes">
                            <img class="img-redes" src="{site_url}app/assets/img/twitter-anaranjado.png">
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3">
                        <a href="http://www.youtube.com/LidermanOficial" target="_blank">
                          <div class="hover-redes">
                            <img class="img-redes" src="{site_url}app/assets/img/youtube-anaranjado.png">
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3">
                        <a href="">
                          <div class="hover-redes">
                            <img class="img-redes" src="{site_url}app/assets/img/mundo-anaranjado.png">
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <a href="{site_url}quiero-ser-liderman" class="btn-liderman btn-liderman-orange">
                        <span>sé parte de liderman</span>
                      </a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12" >
                  <a type="button" class="tcon tcon-menu--xcross" id="tcon-menu--xcross" aria-label="toggle menu">
                    <span class="text-gray-light pr-14">MEN&#xDA;</span>
                    <img class="icon-menu" src="{site_url}app/assets/icons/menu-icono.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

    <div class="overlay overlay-hugeinc" style="background-image: url({site_url}app/assets/img/rayas-menu.png);">
      <div class="container-fluid" style="padding-top: 10px">
        <div class="row">
          <div class="header-left col-md-6 col-xs-6">
            <img class="hidden-lg" src="{site_url}app/assets/img/logo-liderman-white.png">          
          </div>
          <div class="header-right col-md-6 col-xs-6">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-5"></div>
              <!-- <div class="col-md-3">
                <a type="button" class="tcon tcon-menu--xcross" id="tcon-menu--xcross" aria-label="toggle menu">
                  <span class="text-white pr-14">MEN&#xDA;</span>
                  <span class="tcon-menu__lines" aria-hidden="true"></span>
                </a>
              </div> -->
              <div class="col-md-3" >
                <a type="button" class="tcon tcon-menu--xcross" id="overlay-close" aria-label="toggle menu">
                  <span class="text-gray-light pr-14">CERRAR</span>
                  <img class="icon-cerrar img-responsive" src="{site_url}app/assets/icons/cerrar-icono.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <ul class="uppercase">
          <li><a type="button" class="tcon tcon-menu--xcross" id="overlay-close" aria-label="toggle menu" href="{site_url}quienes-somos">Quienes somos</a></li>
          <li><a type="button" class="tcon tcon-menu--xcross" id="overlay-close" aria-label="toggle menu" href="{site_url}#reconocimientos">Reconocimiento</a></li>
          <li><a type="button" class="tcon tcon-menu--xcross" id="overlay-close" aria-label="toggle menu" href="{site_url}#clientes">Clientes</a></li>
          <li><a type="button" class="tcon tcon-menu--xcross" id="overlay-close" aria-label="toggle menu" href="{site_url}noticias">Noticias</a></li>
          <li><a type="button" class="tcon tcon-menu--xcross" id="overlay-close" aria-label="toggle menu" href="{site_url}#contactanos">Contáctanos</a></li>
          <li>
            <a href="{site_url}quiero-ser-liderman" class="btn-liderman btn-liderman-orange">
              <span>únete a liderman</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="hidden-xs separator separator-white separator-centered" style="width: 100%; position: relative; top: 120px;"></div>
      <div class="row hidden-xs" style="position: relative; top: 150px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <a href="https://www.facebook.com/LidermanOficial" target="_blank"><img class="icon-redes" src="{site_url}app/assets/icons/facebook-icono.png"></a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/javiercalvop" target="_blank"><img class="icon-redes" src="{site_url}app/assets/icons/twitter-icono.png"></a>
            </div>
            <div class="col-md-2">
              <a href="http://www.youtube.com/LidermanOficial" target="_blank"><img class="icon-redes" src="{site_url}app/assets/icons/youtube-icono.png"></a>
            </div>
            <div class="col-md-2">
              <a href=""><img class="icon-redes" src="{site_url}app/assets/icons/mundo-redes-icono.png"></a>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>  
    </div>