<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content=""> 
  <meta name="author" content="Laboratoria.la">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dev.laboratoria.la/liderman_web/">
  <meta property="og:title" content="{if embed:titulo}{embed:titulo} | Liderman{if:else}Liderman{/if}">
  <meta property="og:site_name" content="Lliderman">
  <meta property="og:description" content="{if embed:descripcion}{embed:descripcion}{if:else}Valemos tanto como lo que cuidamos.{/if}">
  <meta property="og:image" content="{if embed:imagen}{embed:imagen}{if:else}{site_url}/app/assets/img/logo.png{/if}">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="">
  <meta name="twitter:title" content="{if embed:titulo}{embed:titulo} | Liderman{if:else}Liderman{/if}">
  <meta name="twitter:url" content="http://dev.laboratoria.la/liderman_web/">
  <meta name="twitter:description" content="{if embed:descripcion}{embed:descripcion}{if:else}Valemos tanto como lo que cuidamos.{/if}">
  <meta name="twitter:site" content="Liderman">
  <meta name="twitter:creator" content="@LaboratoriaLA">
  <meta name="twitter:image" content="{if embed:imagen}{embed:imagen}{if:else}{site_url}/app/assets/img/logo.png{/if}">





  <link rel="shortcut icon" href="assets/img/favicon.png">
  <link href="{site_url}app/assets/css/style.css" rel="stylesheet"> <!-- App styles -->
  <link href="{site_url}app/assets/css/ebm.css" rel="stylesheet">
  <link href="{site_url}app/assets/css/owl.carousel.css" rel="stylesheet">
  <link href="{site_url}app/assets/css/owl.theme.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css"> <!-- Google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300" rel="stylesheet" type="text/css">
  <script src="{site_url}app/assets/js/modernizr.custom.js"></script>