<header class="header-scroll-fixed">
       <div class="container-fluid">
          <div class="row">
            <div class="header-left col-md-6 col-xs-6">
              <img src="assets/img/logo-liderman-white.png">
            </div>
            <div class="header-right col-md-6 col-xs-6">
              <div class="row">
                <div class="col-md-9 hidden-xs" style="padding-top: 7px;">  
                    <div class="col-md-6">
                      <div class="col-md-3">
                        <a href=""><img src="assets/icons/facebook-icono.png"></a>
                      </div>
                      <div class="col-md-3">
                        <a href=""><img src="assets/icons/twitter-icono.png"></a>
                      </div>
                      <div class="col-md-3">
                        <a href=""><img src="assets/icons/youtube-icono.png"></a>
                      </div>
                      <div class="col-md-3">
                        <a href=""><img src="assets/icons/mundo-redes-icono.png"></a>
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <a href="#" class="btn-liderman btn-liderman-orange">
                        <span>sé parte de liderman</span>
                      </a>
                    </div>
                </div>
                <div class="col-md-5 hidden-lg"></div>
                <div class="col-md-4 hidden-lg"></div>
                <div class="col-md-3 col-xs-12">
                  <a type="button" class="tcon tcon-menu--xcross" id="tcon-menu--xcross" aria-label="toggle menu">
                    <span class="text-white pr-14">MEN&#xDA;</span>
                    <span class="tcon-menu__lines" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>