<div class="row uppercase pv-42 text-gray">
          <div class="col-md-2">
            <a href="{site_url}noticias">
              <div class="border-gray-light">
                <h5>Todos</h5>
              </div>
            </a>
          </div>
          <div class="col-md-2">
            <a href="{site_url}noticias/category/noticias-liderman">
              <div class="border-gray-light">
                <h5>Noticias Liderman</h5>
              </div>
            </a>
          </div>
          <div class="col-md-2">
            <a href="{site_url}noticias/category/buenas-acciones">
              <div class="border-gray-light">
                <h5>Buenas acciones</h5>
              </div>
            </a>
          </div>
          <div class="col-md-2">
            <a href="{site_url}noticias/category/aptitus">
              <div class="border-gray-light">
                <h5>Aptitus</h5>
              </div>
            </a>
          </div>
          <div class="col-md-2">
            <a href="{site_url}noticias/category/lidernet">
              <div class="border-gray-light">
                <h5>Lidernet</h5>
              </div>
            </a>
          </div>
          <div class="col-md-2">
            <a href="{site_url}noticias/category/aparicion-medios">
              <div class="border-gray-light">
                <h5>Aparición en medios</h5>
              </div>
            </a>
          </div>
        </div>