# @author MadeByGus
 
## EBM
style.min.css
style.unprefixed.css
style.prefixed.css

 
## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

 
## Bower
src/components
lib

 
## Images

 
## Icons
app/assets/button-icons/*.svg
app/assets/button-icons/*.eot
app/assets/button-icons/*.ttf


# For security do not publish the following files
system/expressionengine/config/database.php
system/expressionengine/config/config.php
.htaccess

system/expressionengine/cache/current_version
system/expressionengine/cache/software_registration


## Sass
.sass-cache


 
## OS X
.DS_Store
@@ -58,4 +36,4 @@ Desktop.ini
$RECYCLE.BIN/

## WORDPRESS
wp-content/uploads/**
