{embed="includes/head"}
{embed="includes/header-interno"}

{exp:channel:entries channel="cultura_liderman"}
    <section class="pt-42"> <!-- Cultura Liderman -->
      <div class="container pv-56">
        <div class="text-center">
          <img src="{site_url}app/assets/icons/cultura-liderman-gris-home.png">
          <h2 class="section-title section-title text-black pb-21">Cultura liderman</h2>
          <p class="text-intro">{intro_cultura_liderman}</p>
        </div>
      </div>
    </section>

    <section class="pv-42"><!-- Sentido-->
      <div class="container-sm text-center">
        <h3 class="uppercase text-black bold pb-14">Sentido de propósito</h3> 
        <p class="text-intro pb-28">{intro_sentido}</p>
        <div class="mh-56 bg-img-block minh-420" style="background-image: url({imagen_proposito});"></div>
      </div>
    </section>

    <section class="pv-56 bg-black-liderman text-white"><!-- Visión-->
      <div class="container-xs text-center">
        <div class="row">
          <h3 class="uppercase text-white bold">Visión</h3> 
          <p class="text-description text-gray-light pv-35">{intro_vision}</p>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="ph-35 separator-gray-light separator separator-full-width"></div>
            <div class="separator-gray-light separator separator-full-width"></div>    
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row pt-28">
          <h3 class="uppercase text-white bold">Misión</h3> 
          <p class="text-description text-gray-light pv-35">{intro_mision}</p>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="ph-35 separator-gray-light separator separator-full-width"></div>
            <div class="separator-gray-light separator separator-full-width"></div>    
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row pt-28">
          <h3 class="uppercase text-white bold">Objetivos liderman</h3> 
          {intro_objetivos}
        
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="ph-35 separator-gray-light separator separator-full-width"></div>
            <div class="separator-gray-light separator separator-full-width"></div>    
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row pt-28">
          <h3 class="uppercase text-white bold">Valores</h3> 
          {intro_valores}
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="ph-35 separator-gray-light separator separator-full-width"></div>
            <div class="separator-gray-light separator separator-full-width"></div>    
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row pt-28">
          <h3 class="uppercase text-white bold">Nuestros 5 pilares</h3> 
          {cinco_pilares}
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="ph-35 separator-gray-light separator separator-full-width"></div>
            <div class="separator-gray-light separator separator-full-width"></div>    
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </section>

    <section class="pv-56"><!--Liderman es bienestar -->
      <div class="container text-center">
        <h2 class="section-title section-title text-black pv-21">Liderman es bienestar</h2>
        <p class="text-intro pv-14">{liderman_bienestar}</p>
        <img src="{imagen_bienestar}">
        <!-- <div class="mh-56 bg-img-block minh-280" style="background-image: url(assets/img/Bitmap.png);"></div> -->
      </div>
    </section>

    <section class="bg-gray"><!-- Consignas permamentes -->
      <div class="container-lg">
        <div class="row">
          <div class="col-md-5">
            <div class="bg-img-block minh-630 img-responsive" style="background-image: url({site_url}app/assets/img/consignas-permanentes-1.png);"></div>
            <div class="bg-img-block minh-630 img-responsive" style="background-image: url({site_url}app/assets/img/consignas-permanentes-2.png);"></div>
          </div>
          <div class="col-md-7 pv-56 ph-70">
            <h2 class="text-center section-title section-title text-white pv-21">Consignas importantes</h2>
            <ol class="list-liderman text-white">     
                <li><p>Me presentaré al servicio puntual, limpio y con el equipo completo.</p></li>
                <li><p>Cumpliré y haré cumplir las Normas de Seguridad y Salud en el Trabajo, asegurándome que todo trabajo se desarrolle en condiciones seguras para las personas.</p></li>
                <li><p>Respetaré y haré cumplir las disposiciones de la empresa a la cual estoy asignado.</p></li>
                <li><p>Mi actitud será siempre de alerta y no de confianza.</p></li>
                <li><p>Me conduciré honradamente, nunca permitiré robos y engaños.</p></li>
                <li><p>Me esmeraré y pondré todo de mí en el servicio.</p></li>
                <li><p>Pondré todo mi cuidado en tratar bien el patrimonio de la empresa que esté o no bajo mi responsabilidad.</p></li>
                <li><p>Por ningún motivo tocaré, manipularé y haré uso de ningún vehículo, herramienta y/o material que no me corresponda.</p></li>
                <li><p>Nunca me descuidaré por pensar o hacer cosas ajenas al servicio.</p></li>
                <li><p>Nunca jugaré o haré uso indebido de mi arma o equipo.</p></li>
                <li><p>Nunca abandonaré el puesto o servicio sin la autorización de mi líder.</p></li>
                <li><p>Es mi obligación informar inmediatamente al líder cualquier irregularidad cometida por compañeros de trabajo o trabajadores de la empresa.</p></li>
            </ol>
          </div>
        </div>
        
         
      </div>
    </section>

    <section class="pv-56 bg-black-liderman text-white"><!-- Lo que no perdona un cliente -->
      <div class="container text-center">
        <h2 class="section-title section-title pv-21">Lo que no perdona un cliente</h2>
        {perdona_cliente}
        
      </div>
    </section>

    <section class="pv-56"><!-- Conoce más -->
      <div class="container-sm text-center quienes-somos">
        <h2 class="section-title section-title text-black pv-21">Conoce más sobre quienes somos</h2>
        <ul class="grid-list grid-list-3 grid-list-1-xs text-center">
          <li class="grid-list-item">
            <a href="{site_url}familia-liderman">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-familia-liderman"></div>
                  <h3>Familia Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="{site_url}lidermania">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-lidermania"></div>
                  <h3>Lidermanía</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="{site_url}conectividad">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-conectividad"></div>
                  <h3>Conectividad</h3>
                </div>
              </div>
            </a>
          </li>
        </ul> 
      </div>
    </section>
 {/exp:channel:entries}
{embed="includes/contactanos"}

{embed="includes/footer"}