{embed="includes/head"}
{embed="includes/header-interno"}

{exp:channel:entries channel="gracias_contctanos"}
	<section class="pt-42"> <!-- Cultura Liderman -->
      <div class="container pv-56">
        <div class="text-center">
          <h2 class="section-title section-title text-black pb-21">Gracias por contactarnos</h2>
          <p class="text-intro pb-21">{texto_gracias}</p>
          <a href="{site_url}" class="btn-liderman bg-orange-liderman btn-liderman-orange">
            <span class="text-white">Volver al inicio</span>
          </a>
        </div>
      </div>
    </section>
{/exp:channel:entries}

{embed="includes/footer"}