{embed="includes/head"}
{embed="includes/header-interno"}


<section class="pt-42"> <!-- Noticias -->
      <div class="container pv-56 text-center">
        <h2 class="section-title section-title text-black pb-21">Reconocimientos</h2>
        
       
        <ul class="grid-list grid-list-3 text-left grid-list-1-xs grid-noticias pv-35">
        {exp:channel:entries channel="reconocimientos" limit="9"}
          <li class="grid-list-item">
              <a href="{site_url}reconocimientos/reconocimientos-interna/{entry_id}" class="text-gray">

                <div class="list-item-noticias" style="height: 500px;"> 
                    <!-- <img src="{imagen_recono}" class="img-liderman  img-responsive text-center mv-42"  alt="">     -->            
                    <h3 class="pt-14" style="color: #B92A30;">
                    {titulo_recono}
                  </h3>
                  <p id="texto1" class="pv-14" >
                    {descripcion_recono}
                  </p>
                </div>
              </a>
            </li>
        {/exp:channel:entries}
        </ul>
      </div>
    </section>
{embed="includes/contactanos"}
    
{embed="includes/footer"}
