{embed="includes/head"}
{embed="includes/header-interno"}  

    <section class="pt-42"> <!-- Noticias -->
      <div class="container pv-56">
        <div class="row">
          <div class="col-md-8">
          {exp:channel:entries channel="reconocimientos"  limit="1" dynamic="on"}
            <h2 class="text-black bold uppercase" style="line-height: 1.4;">{titulo_recono}</h2>
            <small class="text-red pv-14">20 de abril del 2015</small>
            <img src="{imagen_recono}" class="img-liderman  img-responsive text-center mv-42"  alt="">
            <p class="text-intro p-0 pt-14 text-gray-light">{contenido_reconocimientos}</p>
          

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'mainlidermanperu';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

                      

          </div>

          <div class="col-md-4 ph-35">
            <div class="row pv-28">
              <h4 class="text-orange uppercase pv-21 mt-42">Noticias relacionadas</h4>
              {categories}
                {embed="includes/reconocimiento-relacionadas" categoria="{category_id}"}
              {/categories}

              <!-- <a href=""><p class="text-gray-light text-hover-gray-light pv-7">Te doming nostro quodsi his. In labitur fabellas repudia eos simul...</p></a>
              <a href=""><p class="text-gray-light text-hover-gray-light pv-7">Te doming nostro quodsi his. In labitur fabellas repudia eos simul...</p></a>
              <a href=""><p class="text-gray-light text-hover-gray-light pv-7">Te doming nostro quodsi his. In labitur fabellas repudia eos simul...</p></a>
              <a href=""><p class="text-gray-light text-hover-gray-light pv-7">Te doming nostro quodsi his. In labitur fabellas repudia eos simul...</p></a> -->
            </div>
            {/exp:channel:entries}
          </div>


        </div>
      </div>
    </section>


{embed="includes/contactanos"}
    
{embed="includes/footer"}
