{embed="includes/head"}
{embed="includes/header"}
<section class="pt-42 quienes-somos" id="quienes-somos"> <!-- Quienes Somos --> 
      <div class="container pt-70 pb-70 text-center">
        <div class="text-center pb-14">
          <h2 class="section-title pb-21 text-black">Quiénes Somos</h2>
          <p class="text-intro pb-7">Te domingo nostro quodsi his. In labitur fabellas repudiandae eos. Simul vitae ptant ad mei, vix congue praesent ei. Te domingo nostro quodsi his. In labitur fabellas repudiandae eos. Simul vitae ptant ad mei, vix congue praesent ei.</p>
        </div>
        <div class="img-liderman bg-img-block img-responsive text-center minh-420 mb-21" style="background-image: url(assets/img/img-quiero-ser-liderman.png);"></div>
        <ul class="grid-list grid-list-4 grid-list-1-xs text-center">
          <li class="grid-list-item">
            <a href="#">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-familia-liderman"></div>
                  <h3>Familia Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="#">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-cultura-liderman"></div>
                  <h3>Cultura Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="#">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-lidermania"></div>
                  <h3>Lidermanía</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="#">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-conectividad"></div>
                  <h3>Conectividad</h3>
                </div>
              </div>
            </a>
          </li>
        </ul> 
        <div class="text-center pt-21">
          <p class="text-intro pb-7">Te domingo nostro quodsi his. In labitur fabellas repudiandae eos. Simul vitae ptant ad mei, vix congue praesent ei.</p>     
          <a href=""><h3 class="text-orange uppercase underline">Ver nuestros servicios</h3></a>
        </div>   
      </div>
    </section>

{embed="includes/footer"}