1{embed="includes/head"}
{embed="includes/header-interno"}

{exp:channel:entries channel="lidermania"}
<section class="pt-42" id="conectividad"> <!-- Lidermanía -->
      <div class="container pv-56 text-center">
        <img class="icon-title" src="{site_url}app/assets/icons/lidermania-gris-home.png">
        <h2 class="section-title section-title text-black pb-21">Lidermanía</h2>
        <p class="text-intro">{introduccion_lidermania}</p>
        </div>
      </div>
    </section>

    <section class="pv-56 bg-gray-lighter text-white"><!-- Ama el trato -->
      <div class="container text-center text-black">
        <h2 class="section-title section-title text-black">Ama el trato</h2>
        <p class="text-intro pv-14">{introduccion_ama_trato}</p>
        <!-- <div class="img-lidermania img-responsive text-center minh-280 mb-21">
          <img class="img-responsive" src="{imagen_ama_trato}" alt=""> 
        </div>-->
      </div>
      <div class="container-sm">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item">
            <div style="background-image:url({site_url}app/assets/img/quienes-somos.jpg);" class="galeria-animate bg-img-block"></div>
          </div>
          <div class="item">
            <div style="background-image:url({site_url}app/assets/img/nuestroequipo.jpg);" class="galeria-animate bg-img-block"></div>
          </div>
          <div class="item">
            <div style="background-image:url({site_url}app/assets/img/politicaintegrada.jpg);" class="galeria-animate bg-img-block"></div>
          </div>
          <div class="item">
            <div style="background-image:url({site_url}app/assets/img/2-copy.jpg);" class="galeria-animate bg-img-block"></div>
          </div>
        </div>
      </div>        
    </section>

    <section class="pv-56 text-white"><!-- Ama el crecimiento -->
      <div class="container text-center text-black">
        <h2 class="section-title section-title text-black">Ama el crecimiento</h2>
        <p class="text-intro pv-14">{introduccion_crecimiento}</p>
        <!-- <div class="img-lidermania img-responsive text-center minh-280 mb-21">
          <img class="img-responsive" src="{imagen_crecimiento}" alt="">
        </div> -->
        <div class="container-sm">
          <div id="crecimiento" class="owl-carousel owl-theme">
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/quienes-somos.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/nuestroequipo.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/politicaintegrada.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/2-copy.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pv-56 bg-gray-lighter text-white"><!-- Ama el pago -->
      <div class="container text-center text-black">
        <h2 class="section-title section-title text-black">Ama el pago</h2>
        <p class="text-intro pv-14">{introduccion_pago}</p>
        <!-- <div class="img-lidermania img-responsive text-center minh-280 mb-21">
          <img class="img-responsive" src="{imagen_pago}" alt="">
        </div> -->
        <div class="container-sm">
          <div id="ama-pago" class="owl-carousel owl-theme">
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/quienes-somos.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/nuestroequipo.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/politicaintegrada.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
            <div class="item">
              <div style="background-image:url({site_url}app/assets/img/2-copy.jpg);" class="galeria-animate bg-img-block"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="pv-56"><!-- Conoce más -->
      <div class="container-sm text-center quienes-somos">
        <h2 class="section-title section-title text-black pv-21">Conoce más sobre quienes somos</h2>
        <ul class="grid-list grid-list-3 grid-list-1-xs text-center">
          <li class="grid-list-item">
            <a href="{site_url}familia-liderman">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-familia-liderman"></div>
                  <h3>Familia Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="{site_url}cultura-liderman">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-cultura-liderman"></div>
                  <h3>Cultura Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="{site_url}conectividad">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-conectividad"></div>
                  <h3>Conectividad</h3>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  {/exp:channel:entries}
  {embed="includes/contactanos"}

{embed="includes/footer"}