{embed="includes/head"}
{embed="includes/header-interno"}

{exp:channel:entries channel="mensaje_usuario"}
	<section class="pt-42"> <!-- Cultura Liderman -->
      <div class="container pv-56">
        <div class="text-center">
          <h2 class="section-title section-title text-black pb-21">Usuario liderman</h2>
          <p class="text-intro pb-21">{introduccion_mensaje}</p>
          <a href="" class="btn-liderman bg-orange-liderman btn-liderman-orange">
            <span class="text-white">IR A MUNDO LIDERMAN</span><img class="icon-btn pl-7" src="{site_url}app/assets/icons/mundo-liderman-boton.png">
          </a>
        </div>
      </div>
    </section>
{/exp:channel:entries}
{embed="includes/contactanos"}

{embed="includes/footer"}