{embed="includes/head"}
{embed="includes/header-interno"}


<section class="pt-42"> <!-- Noticias -->
      <div class="container pv-56 text-center">
        <h2 class="section-title section-title text-black pb-21">Noticias</h2>
        {embed="includes/nav-noticias"}
        <div class="row pv-28 bg-gray-lighter">
          <div class="col-md-2"></div>
          <form class="col-md-8">
            <div class="col-md-3 pv-7">
              <h4>BUSCAR POR</h4>
            </div>
            <div class="ph-7 col-md-3">
              <select name="decision" style="text-indent: 35%; width: 100%;"class="h4 m-0 text-center pv-14 uppercase bg-gray-lighter light input-center" value="0">
                <option class="text-center" value="0" selected="0">Mes</option>               
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="5">Junio</option>
                <option value="5">Julio</option>
                <option value="5">Agosto</option>
                <option value="5">Setiembre</option>
                <option value="5">Octubre</option>
                <option value="5">Noviembre</option>
                <option value="5">Diciembre</option>
              </select>
            </div>
            <div class="ph-7 col-md-3">
              <select name="decision" style="text-indent: 35%; width: 100%;"class="h4 m-0 text-center pv-14 uppercase bg-gray-lighter light input-center" value="0">
                <option class="text-center" value="0" selected="0">Año</option>               
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
              </select>
            </div>
            <div class="ph-7 col-md-3">
              <div class="btn-liderman btn-liderman-orange">
                <span>BUSCAR</span>
              </div>
            </div>
          </form>
          <div class="col-md-2"></div>
        </div>
        <ul class="grid-list grid-list-3 text-left grid-list-1-xs grid-noticias pv-35">
        {exp:channel:entries channel="noticias" category="{segment_3_category_id}" dynamic="off"  orderby="title" sort="desc"}
          <li class="grid-list-item">
              <a href="{site_url}noticias/noticia-interna/{entry_id}" class="text-gray">
                <div class="list-item-noticias">
                  {if imagen_noticia!=''}
                    {imagen_noticia}
                      <img class="img-responsive" src="{image:url:small}" alt="Liderman">
                    {/imagen_noticia}
                  {/if}
                  <h3 class="pt-14 m-0" style="line-height: 1.3;">
                    {titulo_noticias}
                  </h3>
                  <small>{fecha_noticias}</small>
                  {if intro_noticias!=''}
                    <p id="texto1" class="pv-14" >
                      {intro_noticias}
                    </p>
                  {if:else}
                    <div class="main-content mv-28">
                      {exp:char_limit total="50" exact="no"}
                        {contenido_noticias}
                      {/exp:char_limit}
                    </div>
                  {/if}
                </div>
              </a>
            </li>
            {paginate}
                <p class="pv-21 col-md-12 col-sm-12">Page {current_page} of {total_pages} pages {pagination_links}</p>
            {/paginate}
        {/exp:channel:entries}
        </ul>
      </div>
    </section>
{embed="includes/contactanos"}
    
{embed="includes/footer"}
