{embed="includes/head"}
{embed="includes/header-interno"}


<section class="pt-42"> <!-- Noticias -->
      <div class="container pv-56">
        <div class="row">
          <div class="col-md-8">
            {exp:channel:entries channel="noticias" limit="1" entry_id="{segment_3}"}
            <h2 class="text-black bold uppercase" style="line-height: 1.1;">{titulo_noticias}</h2>
            <small class="text-red pv-14">{fecha_noticias}</small>
            <div class="img-liderman bg-img-block img-responsive text-center mv-42">
              {imagen_noticia}
                <img class="img-responsive" src="{image:url:small}" alt="Liderman">
              {/imagen_noticia}
            </div>
            <div>{contenido_noticias}</div>
            {/exp:channel:entries}
            <div class="text-right text-gray pv-35">
              <span class="medium h4">COMPARTE:</span>
              <a href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);var dir2= encodeURIComponent(dir);window.location.href=('http://www.facebook.com/share.php?u='+dir2+'&amp;t='+tit2+'');" target="_blank"><span class="pl-7 light h4 uppercase text-hover-facebook">FACEBOOK</span></a>

              <a href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);window.location.href=('http://twitter.com/?status='+tit2+'%20'+dir+'');"><span class="pl-7 light h4 uppercase text-hover-twitter" target="_blank">TWITTER</span></a>
            </div>

            <div id="disqus_thread"></div>
						<script type="text/javascript">
						    /* * * CONFIGURATION VARIABLES * * */
						    var disqus_shortname = 'mainlidermanperu';
						    
						    /* * * DON'T EDIT BELOW THIS LINE * * */
						    (function() {
						        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>

          <div class="col-md-4 ph-35">
            <div class="row uppercase text-center pv-42 text-gray">
              <div class="col-md-12 pv-7">
                <a href="{site_url}noticias">
                  <div class="border-gray-light">
                    <h5>Todos</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-12 pv-7">
                <a href="{site_url}noticias/category/noticias-liderman">
                  <div class="border-gray-light">
                    <h5>Noticias Liderman</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-12 pv-7">
                <a href="{site_url}noticias/category/buenas-acciones">
                  <div class="border-gray-light">
                    <h5>Buenas acciones</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-12 pv-7">
                <a href="{site_url}noticias/category/aptitus">
                  <div class="border-gray-light">
                    <h5>Aptitus</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-12 pv-7">
                <a href="{site_url}noticias/category/lidernet">
                  <div class="border-gray-light">
                    <h5>Lidernet</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-12 pv-7">
                <a href="{site_url}noticias/category/aparicion-medios">
                  <div class="border-gray-light">
                    <h5>Aparición en medios</h5>
                  </div>
                </a>
              </div>
            </div>

            

            <div class="row pv-28">
              <h4 class="text-orange uppercase pv-21">Noticias relacionadas</h4>
              {exp:channel:entries channel="noticias" category="{embed:categoria}" dynamic="off" limit="4" orderby="random"}
              <a href="{site_url}noticias/noticia-interna/{entry_id}"><p class="text-gray-light text-hover-gray-light pv-7">{titulo_noticias}</p></a>
              {/exp:channel:entries}
            </div>

          </div>


        </div>
      </div>
    </section>

{embed="includes/contactanos"}
    
{embed="includes/footer"}