{embed="includes/head"}
{embed="includes/header"}  

  {exp:channel:entries channel="home" limit="1" dynamic="off"}
    <section class="mt-49-xs hero-unit main-hero-unit relative  p-0" style="height: 660px;"><!-- main hero -->
      <div class="bg-img-block minh-630" style="background-image:url({site_url}app/assets/img/background-liderman.jpg);">
        <div class="container pt-70 text-white lead-ch text-shadow text-center">
          <div class="row pt-70">
            <div class="col-md-6 col-xs-12 col-xs-offeset-6">
              <img src="{site_url}app/assets/img/logo-liderman-white.png" alt="Liderman" class="img-responsive logo pb-42">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
            </div>
          </div>
        </div>
      </div>
      <a href="#quienes-somos"><img class="arrow hidden-xs" src="{site_url}app/assets/img/down-arrow.png"></a>
    </section>
  {/exp:channel:entries}
    
		{embed="includes/valores"}
		{embed="includes/reconocimientos"}

    <section class="section-padding-horizontal clientes" id="clientes"> <!-- Clientes -->
      <div class="container">
        <div class="text-center">
          <h2 class="section-title section-title text-black pb-21">Clientes</h2>
        </div>
        <div class="pb-28">
          <div class="grid-list grid-list-4 grid-list-xs-1">
          	{exp:channel:entries channel="clientes" limit="8" categories="1"}
            <div class="grid-list-item"><img src="{imagen_clientes}" alt="" class="img-responsive"></div>
            {/exp:channel:entries}
          </div>
         <!--  <div class="grid-list grid-list-4 grid-list-xs-1">
           <div class="grid-list-item"><img src="assets/img/img.png" alt="" class="img-responsive"></div>
           <div class="grid-list-item"><img src="assets/img/img.png" alt="" class="img-responsive"></div>
           <div class="grid-list-item"><img src="assets/img/img.png" alt="" class="img-responsive"></div>
           <div class="grid-list-item"><img src="assets/img/img.png" alt="" class="img-responsive"></div>
         </div> -->
        </div>
        <div class="text-center pt-21">
          <a href="#" class="btn-liderman btn-liderman-gray">
            <span>Ver m&#xE1;s</span>
          </a>
        </div>
      </div>
    </section>

    <section class="bg-img-block" style="background-image: url({site_url}app/assets/img/forma-parte-liderman.png);"> <!-- forma parte de liderman -->
      <div class="container pv-70">
        <div class="text-center section-padding-horizontal">
          <h2 class="section-title text-white pb-28">Forma parte de Liderman</h2>
          <p class="text-intro text-white pb-21">En esta sección encontrarás mucha información acerca de cómo convertirte en Liderman.</p>
          <a href="{site_url}quiero-ser-liderman" class="btn-liderman btn-liderman-white">
            <span>Postula</span>
          </a>
        </div>
      </div>
    </section>
    <section class="section-padding-horizontal noticias" id="noticias"> <!-- noticias --> 
      <div class="container text-center">
        <h2 class="section-title text-center pb-28 text-black">Noticias</h2>   
        <ul class="grid-list grid-list-3 text-left grid-list-1-xs grid-noticias pb-21">
          {exp:channel:entries channel="noticias" limit="3"}
            <li class="grid-list-item">
              <a href="{site_url}noticias/noticia-interna/{entry_id}" class="text-gray">
                <div class="list-item-noticias minh-490">
                  
                  <h4 class="pt-14" style="font-size: 22px !important;">
                  	{titulo_noticias}
                  </h4>
                  <small>{fecha_noticias}</small>
                  {if imagen_noticia!=''}
                    {imagen_noticia}
                      <img class="img-responsive" src="{image:url:small}" alt="Liderman">
                    {/imagen_noticia}
                  {/if}

                  {if intro_noticias!=''}
                    <p  class="pv-14 content-intro">
                      {intro_noticias}
                    </p>
                  {if:else}

                  <div class="main-content mv-28">
                    {exp:char_limit total="50" exact="no"}
                      {contenido_noticias}
                    {/exp:char_limit}
                  </div>
                  {/if}
                </div>
              </a>
            </li>
          {/exp:channel:entries}

        </ul>
        <a href="{site_url}noticias" class="btn-liderman btn-liderman-gray">Leer m&#xE1;s</a>    
      </div>
    </section>


{embed="includes/contactanos"}
    
{embed="includes/footer"}

