{embed="includes/head"}
{embed="includes/header-interno"}

{exp:channel:entries channel="quiero_ser_liderman"}
	 <section class="pt-42" id="quiero-ser-liderman"> <!-- Clientes -->
      <div class="container pt-63 pb-14">
        <div class="text-center">
          <h2 class="section-title section-title text-black pb-21">Quiero ser liderman</h2>
          <p class="text-intro">En ésta sección encontrarás mucha información acerca de cómo conviertirte el Liderman.</p>
        </div>
      </div>
    </section>


    <section class="bg-gray-lighter pb-56">
      <div id="banner" class="owl-carousel owl-theme mb-49">
        {carrusel-quiero-ser-liderman}
        <div class="item text-left container-fluid flex-row flex-align-center pr-21-xs bg-img-block minh-350" style="background-image:url({image:url:large});"></div>
        {/carrusel-quiero-ser-liderman}
      </div>
      <div class="container-sm">
        <h3 class="text-gray pb-21">Para informarte de cuándo son los cursos de llamamiento, debes estar atento a lo siguiente:</h3>  
        <ol class="list-liderman">
          <li>
            <p>{cursos_llamamiento_1}</p>
          </li>
          <li>
            <p>{cursos_llamamiento_2}</p>
          </li>
          <li>
            <p>{cursos_llamamiento_3}</p>
          </li>
          <li>
            <p>{cursos_llamamiento_4}</p>
          </li>
        </ol>
      </div>
    </section>

    <section class="pv-56">
      <div class="container-sm">
        <h3 class="text-gray pb-14 uppercase">Requisitos para ser un liderman</h3>  
        <ol class="list-liderman">
          <li>
            <p>{requisito_primero}</p>
          </li>
          <li>
            <p>{requisito_segundo}</p>
          </li>
          <li>
            <p>{requisito_tercero}</p>
          </li>
          <li>
            <p>{requisito_cuarto}</p>
          </li>
          <li>
            <p>{requisito_quinto}</p>
          </li>
          <li>
            <p>{requisito_sexto}</p>
          </li>
          <li>
            <p>{requisito_setimo}</p>
          </li>
          <li>
            <p>{requisito_octavo}</p>
          </li>
          <li>
            <p>{requisito_noveno}</p>
          </li>
        </ol>
      </div>
    </section>

    <section class="pv-56 bg-gray-lighter">
      <div class="container-sm">
        <h3 class="text-gray pb-35 uppercase">Cursos de postulantes</h3>
        <div class="bg-img-block minh-420" style="background-image: url({imagen_post});"></div>
        <p class="text-description">{introduccion_post}</p>
      </div>
    </section>

    <section class="pv-56">
      <div class="container-sm">
        <h3 class="text-gray pb-35 uppercase">PREGUNTAS FRECUENTES</h3>
        <div class="text-description">
          <p class="text-gray-darker">¿Es necesario tener experiencia en vigilancia?</p>
          <p>No. En J V Resguardo te capacitamos para que puedas ejercer tu trabajo de manera eficiente aun cuando no tengas experiencia en el rubro.</p>
        </div>
        <div class="text-description">
          <p class="text-gray-darker">¿Contratan personal femenino?</p>
          <p>Si. Contratamos personal femenino y masculino, de acuerdo con los requerimientos de nuestros clientes.</p>
        </div>
        <div class="text-description">
          <p class="text-gray-darker">¿Es necesario tener una recomendación?</p>
          <p>No necesariamente. Valoramos las recomendaciones pero también damos la oportunidad a quienes demuestran por otros medios sus condiciones para ser un Liderman.</p>
        </div>
        <div class="text-description">
          <p class="text-gray-darker">¿Es obligatorio asistir al curso de postulantes?</p>
          <p>Sí. Es indispensable que asistas por lo que ningún postulante puede ingresar a ejercer funciones sin antes haber aprobado el curso. La misma SUCAMEC, valida tu asistencia y autoriza tu “alta”.</p>
        </div>
        <div class="text-description">
          <p class="text-gray-darker">¿Es necesario llevar CV o algún otro documento a la charla?</p>
          <p>No. La documentación se recibe luego haber concluído el curso de postulantes.</p>
        </div>
        <div class="text-description">
          <p class="text-gray-darker">¿Contratan supervisores?</p>
          <p>No. Nuestros Liderman tienen línea de carrera y pueden ascender a supervisores inclusive a Líderes Zonales.</p>
        </div>
      </div>
    </section>
{/exp:channel:entries}
{embed="includes/contactanos"}

{embed="includes/footer"}