// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$header-height-control: 70px; // Header
$mobile-navbar-height: 56px; // Mobile header
$video-bg-height: 490px; // Hero Unit and Videocover
$user-card-height: 42px; // User cards
$user-card-width: 70px;

html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
}

.site-wrapper,
.site-content {
	position: relative;
}

/*
	main styles
*/

p{
	font-family: $font-family-serif;
}


/*
	colors
*/

$liderman-orange: #F7941D;
$liderman-black: #4A4A4A;

/*
	utility classes
*/

.text-black{
	color: $liderman-black;
}

.btn-liderman{ //custom liderman button
	text-transform: uppercase;
	font-size: 21px;
	padding: 8px 21px;


	&.btn-liderman-white{ //white button
		border: 3px solid white;		
		color: white;
		&:hover{
			color: white;
		}
	}

	&.btn-liderman-gray{ //white button
		border: 3px solid gray;		
		color: gray;
		&:hover{
			color: gray;
		}
	}

}

/*
	Section Styles
*/

.section-padding-horizontal{
	padding: 104px 0; //padding vertical

}

.section-title{
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
		font-size: $font-size-h1;
		font-weight: 700;
}

.text-intro{
	padding: 0 15%; //padding horizontal
	font-size: $font-size-h4;
	color: 505050;
}

/*
	general gallery styles
*/
.gallery{
		height: $video-bg-height;
	.gallery-cell{
		width: 100%;
	}
}

.flickity-page-dots .dot { // white circles
  width: 12px;
  height: 12px;
  opacity: 1;
  background: white;
}

.flickity-page-dots .dot.is-selected { //fill-in selected dot
  background: #B92A30;
}


/* 
	main hero image
*/

.main-hero-unit{ 
	header{
		z-index: 1000;
		// .header-right{
		// 	pull
		// }
	}
	position: absolute;
	.arrow{
		position: relative;
		margin: 0 auto;
		width: 67px;
		top: 450px;
	}
	.flickity-page-dots {
	  bottom: 42px; //positioning page-dots accordingly
	  right: 220px; //positioning page-dots accordingly
	}	
	.logo{
	  margin: 0 auto;
	 	width: 283px;
	}	
}

/*
	Quienes Somos
*/

.grid-quienes-somos{
	.grid-list-item{
	text-align: center;
		h3{
			font-size: $font-size-h3 - 1;
			text-transform: uppercase;
			padding-top: 7px;
			color: #606060;
		}
		p{
			padding: 14px 0; //vertical padding
			color: #8C8B8B;
		}
		a{
			text-transform: uppercase;
			color: #606060;
			border-bottom: 1px solid #8C8B8B; //simulates underline
			padding-bottom: 4px;
			&:hover{
			border-bottom: 1px solid $liderman-orange; //changes color of simulated underline
			color: $liderman-orange;	
			}
		}
	}
}

/* 
	Reconocimientos
*/

.reconocimientos{ 
	.flickity-page-dots {
	  bottom: 42px; //positioning page-dots accordingly
	}
	img{
		margin: 0 auto;
		width: 182px;
	}
}

/*
	Conectividad
*/
.conectividad{
	background-color: #EDEDED;
	text-align: center;

	.conectividad-item{
		padding: 20px;
		color: #8C8B8B;
		h3{
			text-transform: uppercase;
			font-size: 19px;
		}

		&:hover{ //hover effect
			background-color: $liderman-orange;
			color: white;
			.conectividad-inner{
				border: 3px solid white;
			}
		}

		.conectividad-inner{
			border: 3px solid #8C8B8B;
			padding: 20px;
		}
	}	
}

/*
	Noticias
*/

.grid-noticias{
	padding: 7px;
	.grid-list-item{
		border: 3px solid #979797; 
		h3{ //news title
			text-transform: uppercase;
		}
		h4{ //date
			color: #B92A30;
		}
	}
}


