// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$header-height-control: 70px; // Header
$mobile-navbar-height: 56px; // Mobile header
$video-bg-height: 490px; // Hero Unit and Videocover
$user-card-height: 42px; // User cards
$user-card-width: 70px;

html,
body {
	background-color: $body-bg;	

}

.site-wrapper,
.site-content {
	position: relative;
}

/*
	main styles
*/

p{
	font-family: $font-family-serif;
}

.font-p{
	font-family: $font-family-serif;
}

/*
	colors
*/

$liderman-orange: #F7941D;
$liderman-black: #4A4A4A;
$liderman-red: #B92A30;

/*
	utility classes
*/

/* BORDER */

.border-gray-lighter{
	border: 2px solid $gray-lighter;
}

.border-gray-light{
	border: 2px solid $gray-light;
}

.border-gray{
	border: 2px solid $gray;
}

.border-gray-dark{
	border: 2px solid $gray-dark;
}

.border-gray-darker{
	border: 2px solid $gray-darker;
}


/* END: BORDER */

.bg-black-liderman{
	background-color: $liderman-black;
}

.bg-orange-liderman{
	background-color: $liderman-orange;
}

.text-black{
	color: $liderman-black;
}

.text-orange{
	color: $liderman-orange;
}

.text-red{
	color: $liderman-red;
}

.btn-liderman{ //custom liderman button
	text-transform: uppercase;
	font-size: 21px;
	padding: 8px 21px;


	&.btn-liderman-white{ //white button
		border: 2px solid white;		
		color: white;
		&:hover{
			color: white;
		}
	}

	&.btn-liderman-gray{ //white button
		border: 2px solid gray;		
		color: gray;
		&:hover{
			color: gray;
		}
	}

	&.btn-liderman-orange{
		border: 2px solid $liderman-orange;
		color: $liderman-orange;
	}

}

/*
	Section Styles
*/

.section-padding-horizontal{
	padding: 104px 0; //padding vertical
}

.section-title{
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
		font-size: $font-size-h1;
		font-weight: 700;
}

.text-intro{
	padding: 0 15%; //padding horizontal
	font-size: $font-size-h4;
	color: 505050;
}

.text-intro-slider{
	padding: 0 15%;
	color: 505050;
}

.text-frase {
	font-size: $font-size-h3;
	color: $gray-dark;
}

/*
	general gallery styles
*/
.gallery{
		height: $video-bg-height;
	.gallery-cell{
		width: 100%;
	}
}

.flickity-page-dots .dot { // white circles
  width: 12px;
  height: 12px;
  opacity: 1;
  background: gray;
}

.flickity-page-dots .dot.is-selected {
	background: $liderman-orange;
}


/*
	Header
*/

.header {
	@media only screen and (max-width: 480px) {
  	position: fixed;
  	background-color: $liderman-black;
  }
}

.header, 
.header-scroll,
.header-scroll-fixed{
	z-index: 100;
	.header-left{
		img{
			width: 100px;
			position: relative;
			@media only screen and (max-width: 480px) {
		  	width: 70px;
		  }
		}
	}
}

.header-scroll{
	display: none;
}


.header-scroll, 
.header-scroll-fixed{
	position: fixed;
	width: 100%;
	background-color: $liderman-black;

	.header-center{
		.btn-liderman{
			font-size: 18px;
			padding: 4px 18px;
		}
	}

	.header-right{
		.img-redes{
			height: 24px;
		}
		
		.hover-redes{
			img{
		    opacity: 0.8;
		  }
		}
		
		.hover-redes{
			img{
		    filter: url('#grayscale');
		    -webkit-filter: grayscale(100%);
		    -moz-filter: grayscale(100%);
		    -ms-filter: grayscale(100%);
		    -o-filter: grayscale(100%);
		    filter: grayscale(100%);
		    filter: Gray();
		    -webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -ms-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		    &:hover{
		      -webkit-filter: grayscale(0%);
		      -moz-filter: grayscale(0%);
		      -ms-filter: grayscale(0%);
		      -o-filter: grayscale(0%);
		      filter: none;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -ms-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
		      transition: all 0.5s ease;
		    }
		  }
		}


		.btn-liderman{
			font-size: 18px;
			padding: 4px 18px;
		}
	}
}

.icon-menu{
	display: inline-block;
  height: 30px;
  width: 40px;
  bottom: 3px;
  border-radius: 2.85714px;
  transition: 9s;
  position: relative;
}

.icon-cerrar{
	display: inline-block;
  height: 30px;
  width: 30px;
  bottom: 0px;
  border-radius: 2.85714px;
  transition: 9s;
  position: relative;
}

.icon-redes{
	height: 30px;
}

.icon-btn{
	height: 26px;
	padding-bottom: 3px;
}

/* 
	main hero image
*/

.main-hero-unit{ 
	position: absolute;
	.flickity-page-dots {
	  bottom: 42px; //positioning page-dots accordingly
	  right: 220px; //positioning page-dots accordingly
	}	
	.logo{
	  margin: 0 auto;
	 	width: 283px;
	}	
}
/*
	Arrow	
*/
.arrow{
	position: absolute;
	margin: 0 auto;
	width: 67px;
	bottom: 0;
	left: 48%;
}

/*
	Menu
*/

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../assets/img/tayas-menu.png);
	z-index:100;
}

/* Overlay closing cross */

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 42%;
	height: 60%;
	font-size: 25px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 7);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: $gray-light;
	border-bottom: 1px solid $gray-light;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}



/*
	Quienes Somos
*/

.quienes-somos{
	.quienes-somos-item{
		padding: 10px;
		color: #8C8B8B;
		h3{
			text-transform: uppercase;
			font-size: 19px;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 12px 0;
		}

		.quienes-somos-inner{
			border: 3px solid white;
		}

		&:hover{ //hover effect
			background-color: $liderman-orange;
			color: white;

			.icon-familia-liderman{
				background-image: url(../icons/familia-liderman-blanco-home.png);
			}

			.icon-cultura-liderman{
				background-image: url(../icons/cultura-liderman-blanco-home.png);
			}

			.icon-lidermania{
				background-image: url(../icons/lidermania-blanco-home.png);
			}

			.icon-conectividad{
				background-image: url(../icons/conectividad-blanco-home.png);
			}

		}

		.quienes-somos-inner{
			padding: 25px 10px;
			text-align: center;
			height: 165px;
		}

		.icon-quienes-somos{
			height: 50px;
			margin: 0 auto;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.icon-familia-liderman{
			background-image: url(../icons/familia-liderman-gris-home.png);
		}

		.icon-cultura-liderman{
			background-image: url(../icons/cultura-liderman-gris-home.png);
		}

		.icon-lidermania{
			background-image: url(../icons/lidermania-gris-home.png);
		}

		.icon-conectividad{
			background-image: url(../icons/conectividad-gris-home.png);
		}


	}	
}

/* 
	Reconocimientos
*/

.reconocimientos{ 
	position: relative;
	height: 800px;
	.flickity-page-dots {
	  bottom: -15%; //positioning page-dots accordingly
	}
	p{
		font-size: 14px;
		font-style: italic;
	}
	.img-reconocimiento{
		margin: 0 auto;
		width: 450px;
	}
}

/*
	Conectividad
*/
.conectividad{
	background-color: #EDEDED;
	text-align: center;

	.conectividad-item{
		padding: 20px;
		color: #8C8B8B;
		h3{
			text-transform: uppercase;
			font-size: 19px;
		}

		&:hover{ //hover effect
			background-color: $liderman-orange;
			color: white;
			.conectividad-inner{
				border: 3px solid white;
			}
		}

		.conectividad-inner{
			border: 3px solid #8C8B8B;
			padding: 20px;
		}
	}	
}

/*
	Noticias
*/

.grid-noticias{
	.grid-list-item{
		padding: 7px;
		.list-item-noticias{
			border: 1px solid #979797;
			padding: 14px; 
			&:hover {
				background-color: rgb(237, 237, 237);
			}
			h3{ //news title
				text-transform: uppercase;
			}
			small{ //date
				color: #B92A30;
			}
			p{
				font-size: 18px;
			}
		}
	}
}


/*
	Contáctanos
*/

.contactanos{
	text-align: center;
	.grid-contactanos{
		.grid-list-item{
			padding: 0;
			.list-item-contactanos{
				img{
					width: 55px;
					margin: 0 auto;
				}
			}
		}
	}
	
	select{
		width: 100%;
		color: #7D7E7F;
		cursor: pointer;
		text-align: center;
		verticle-align:middle;
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  background-image: url(../img/dropdown-formulario.png);
	  background-repeat: no-repeat;
	  background-position: right;
	  appearance: none;
	  -webkit-appearance: none;
	}
}

/*
	Footer
*/

.footer{
	background-color: $liderman-black;
	input{
		background-color: $liderman-black;
		border: 1px solid white;
		border-radius: 0;
		float: left;
	}
	.direction p{
		color: white;
		font-size: 11px;
	}

	.btn-liderman-footer{
		border: 1px solid white;
		padding: 6px 20px;
		background-color: rgb(140, 138, 139);
	}
}


/*
	QUIENES SOMOS
*/

.img-liderman{
	width: 700px;
	margin: 0 auto;
}

.img-lidermania{
	width: 600px;
	margin: 0 auto;
	background-position-y: 0;
	background-position: center;
}


/* 
	CLIENTES 
*/


/*
	QUIERO SER LIDERMAN
*/

.list-liderman{
	font-family: $font-family-sans-serif;
	font-size: 21px;
	padding-left: 24px;
	li{
		padding-top: 7px;
		padding-bottom: 7px;
		p{
			font-family: $font-family-serif;
			font-size: 18px;
		}
	}
}

.text-description{
	font-size: $font-size-h4;
	padding-top: 14px;
	padding-bottom: 14px;
}

select{
	background-image: url(../img/dropdown-formulario.png);
  	background-repeat: no-repeat;
  	background-position: right;
  	appearance: none;
  	-webkit-appearance: none;
}

/*
	CONECTIVIDAD
*/

.icon-title{
	width: 50px;
	height: 50px;
}

/* 
	FAMILIA LIDERMAN 
*/

.grid-equipo {
	li{
		img{
			width: 130px;
		}
	}
}