{embed="includes/head"}
{embed="includes/header-interno"}

{exp:channel:entries channel="conectividad"}
	<section class="pt-42" id="conectividad"> <!-- Clientes -->
      <div class="container pv-63">
        <div class="text-center">
          <img src="{site_url}app/assets/icons/conectividad-gris-home.png">
          <h2 class="section-title section-title text-black pb-21">Conectividad</h2>
          <p class="text-intro ph-7">{contenido_conectividad}</p>
        </div>
      </div>
    </section>

    <section class="bg-gray-lighter pv-63">
      <div class="container-sm text-center">
        <h3 class="uppercase text-black bold pb-21">Mundo liderman</h3> 
        <iframe width="100%" height="400px" class="iframe" src="https://www.youtube.com/embed/{link-video}" frameborder="0" allowfullscreen></iframe>
        <p class="text-intro pv-35 ph-7">{descripcion_mundo_liderman}</p>
        <a href="{link_mundo_liderman}" class="btn-liderman btn-liderman-gray">
          <span>ingresa</span>
          <img class="pl-7 pb-7" src="{site_url}app/assets/icons/dropdown-btn-gray.png">
        </a>
      </div>
    </section>

    <section class="pv-56">
      <div class="container-sm text-center">
        <h3 class="uppercase text-black bold pb-21">Liderman del futuro</h3> 
        <iframe width="100%" height="400px" class="iframe" src="https://www.youtube.com/embed/{link-liderman-futuro}" frameborder="0" allowfullscreen></iframe>
        <p class="text-intro pv-35 ph-7">{intro_liderman_futuro}</p>
        <!-- <a href="{link_liderman_futuro}" class="btn-liderman btn-liderman-gray">
          <span>ingresa</span>
          <img class="pl-7 pb-7" src="{site_url}app/assets/icons/dropdown-btn-gray.png">
        </a> -->
      </div>
    </section>

    <section class="pv-56 bg-gray-lighter">
      <div class="container-sm text-center">
        <h3 class="uppercase text-black bold pb-21">Radio urbe</h3> 
        <div class="mh-7 bg-img-block minh-280" style="background-image: url({imagen_radio_urbe});"></div>
        <p class="text-intro pv-35 ph-7">{intro_radio_urbe}</p>
        <a href="{link_radio_urbe}" class="btn-liderman btn-liderman-gray">
          <span>ingresa</span>
          <img class="pl-7 pb-7" src="{site_url}app/assets/icons/dropdown-btn-gray.png">
        </a>
      </div>
    </section>

    <section id="red" class="pv-56">
      <div class="container-sm text-center">
        <h3 class="uppercase text-black bold">Redes sociales</h3> 
        <p class="text-intro pv-56 ph-7">{intro_redes_sociales}</p>
        <div class="row container-xs">
          <div class="col-md-12 col-xs-12">
            <a href="https://twitter.com/javiercalvop" class="btn-liderman btn-liderman-gray">
              <span>twitter</span>
            </a>
            <a href="https://www.facebook.com/LidermanOficial" class="btn-liderman btn-liderman-gray">
              <span>facebook</span>
            </a>
            <a href="http://www.youtube.com/LidermanOficial" class="btn-liderman btn-liderman-gray">
              <span>youtube</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="pv-56">
      <div class="container-sm text-center quienes-somos">
        <h2 class="section-title section-title text-black pv-21">Conoce más sobre quienes somos</h2>
        <ul class="grid-list grid-list-3 grid-list-1-xs text-center">
          <li class="grid-list-item">
            <a href="{site_url}familia-liderman">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-familia-liderman"></div>
                  <h3>Familia Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="{site_url}cultura-liderman">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-cultura-liderman"></div>
                  <h3>Cultura Liderman</h3>
                </div>
              </div>
            </a>
          </li>
          <li class="grid-list-item">
            <a href="{site_url}lidermania">
              <div class="quienes-somos-item">
                <div class="quienes-somos-inner">
                  <div class="mt-7 icon-quienes-somos icon-lidermania"></div>
                  <h3>Lidermanía</h3>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
{/exp:channel:entries}
  {embed="includes/contactanos"}

{embed="includes/footer"}